body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #ffffff;
}
svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.container {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
}
body {
  overflow: hidden;
}
.text{
  color:#ffffff;
  text-shadow: 5px 7px 9px rgb(96, 107, 209)
}
.dev{
  color:#e98bf5;
  text-shadow: 5px 7px 9px rgb(228, 171, 245)
}
.box{
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #000000;
  text-align: center;
  padding: 40px;
  border-radius: 24px;
}
.box h1{
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #a72ecc;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #a72ecc;
}